@import '../colors';

.profile {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url('../res/img/header-bg.jpg') no-repeat center center;
  background-size: cover;

  .nav-logo {
    margin: 0 2.5rem;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0;
    transition: .3s;
  }

  .nav-link {
    margin-right: 4rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: $scarpa-flow;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      color: $silver-tree;
    }

    &:active {
      color: $oslo-grey;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);

    .heading-1  {
      margin-bottom: 1rem;
    }

    .profile-table {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 24rem;
      font-family: 'Lato', sans-serif;
      color: $silver-tree;
      background: $white;
      grid-column: 3 / span 2;
      grid-row: 4 / span 3;

      .profile-info {
        font-size: 2rem;

      }
    }
  }
}
