$alabaster: #f7f7f7;
$white: #ffffff;
$white-rgba: rgba(255, 255, 255, .5);
$white-rgba-1: rgba(255, 255, 255, .8);
$silver-tree: #64c29e;
$silver-tree-rgba: rgba(100, 194, 158, .8);
$ocean-green: #42a780;
$oslo-grey: #848789;
$oslo-grey-rgba: rgba(132, 135, 137, .5);
$scarpa-flow: #4d4959;
$scarpa-flow-rgba: rgba(77, 73, 89, .4);
$cape-cod: #353738;
$outer-space: #282f35;
$cerulean: #00aced;
$bondi-blue: #0087ba;
$chambray: #3b5998;
$astronaut: #2d4373;
$cardinal: #cb2027;
$tamarilo: #9f191f;
